@model MultiStepFormApp.Web.Models.PersonalInfo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Step 1";
}

<h1>Step 1: Personal Info</h1>

<form asp-action="Step1" method="post">
    <div class="mb-3">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" required />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" required />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" class="form-control" type="date" required />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Next Step</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
